//<INPUT>
// Сниппет (HTML): inp
.AndreyP {
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	textarea {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.input {
		width: 100%;
		display: block;
		padding: 1.125rem 1.25rem;
		border: 0.0625rem solid #fff;
		border-radius: 0.625rem;
		caret-color: inherit;
		font-size: 1rem;
		@media (max-width:$mobileSmall){
			 padding: 0.75rem toRem(20);
			 font-size: 0.875rem;
		}
		&._form-focus {
		}
		&._form-error {
		}
	}
	.input[placeholder]:not([data-placeholder-nohiden]) {
		&::placeholder {
			transition: opacity 0.3s;
		}
		&:focus::placeholder {
			opacity: 0;
		}
	}

	textarea {
		resize: none;
		padding: 1.125rem 1.25rem;
		border: 0.0625rem solid #fff;
		border-radius: 0.625rem;
		min-height: 6.75rem;
		margin-bottom: 1.25rem;
		font-size: 1rem;
		@media (max-width:$mobileSmall){
			 padding: 0.75rem toRem(20);
			 font-size: 0.875rem;
		}
		&::placeholder {
			transition: opacity 0.3s;
		}
		&:focus::placeholder {
			opacity: 0;
		}
	}
}
