// Заголовки, общие БЄМ блоки и прочее...
.title {
	font-weight: 700;
	line-height: 76%;
	text-transform: uppercase;
	@include adaptiveValue("font-size", 80, 30,0,1290,320);
	@media (max-width:$mobile){
		 @include adaptiveValue("margin-bottom", 30, 20,0,768,320); 
	}
}