.AndreyP {
	.header {
		&__container {
			padding-top: 5rem;
			padding-bottom: 0.625rem;
			display: flex;
			justify-content: space-between;
			align-items: center;

			@media (max-width:$mobile) {
				padding-top: 1.25rem;
				padding-bottom: 2.5rem;
			}
		}
	}

	.menu {

		&__text {
			margin-right: 0.625rem;
			font-weight: 500;
			font-size: 1.125rem;
			line-height: 120%;
			color: #fff;

			@media (max-width:$mobile) {
				display: none;
			}
		}
	}
}