.AndreyP {
	.sirius {
		.main__title,
		.title {
			color: #e93c3c;
		}
		.tasks {
			// background: #f2f2f2;
		}
		.tasks .title {
			color: #1a8bff;
		}
	}

	//==ABOUT======================================================================================================================================================
	.sirius {
		.about__container {
			@include adaptiveValue("padding-bottom", 65, 40, 0, 1290, 320);
		}
	}
	//======CREATE==================================================================================================================================================

	.page {
		&__create {
		}
	}
	.create {
		&__container {
			position: relative;
		}

		&__title {
			margin-bottom: toRem(40);
			& + .text {
				@include adaptiveValue("margin-bottom", 60, 20, 0, 1290, 320);
				& br {
					@media (min-width: $mobile) {
						display: none;
					}
				}
			}
			@media (max-width: $mobile) {
				margin-bottom: 1.25rem;
			}
		}

		&__text {
		}

		&__arrow {
			position: absolute;
			top: -1.5rem;
			right: 10rem;
			@media (max-width: toEm(1290)) and (min-width: $tablet) {
				// width: 5rem;
				// top: -1.5rem;
				right: 0rem;
			}
			@media (max-width: $tablet) and (min-width: $mobile) {
				// width: 4.6875rem;
				right: -3.5rem;
				top: -2.5rem;
			}
			@media (max-width: $mobile) {
				display: none;
			}
		}
	}

	//=====DESIGN SYSTEM===================================================================================================================================================

	.sirius {
		.td-color__row_bottom {
			@media (max-width: $mobile) {
				grid-template-columns: 1fr;
			}
		}
		.td-color__row_bottom .td-color__item {
			@media (min-width: $mobile) {
				flex: 0 0 100%;
			}
		}
	}

	//===VISUAL=====================================================================================================================================================

	.page {
		&__visual {
			position: relative;
			background: #f2f2f2;
			color: #191919;
		}
	}
	.visual {
		&__container {
			max-width: 106.875rem;
			padding-top: 16%;
			padding-bottom: 22%;
			@media (max-width: $mobileSmall) {
				padding-block: 22%;
			}
		}

		&__top {
			position: relative;
			margin-inline: 12.1875rem;
			@media (max-width: toEm(1687)) {
				margin-inline: 0;
				gap: 0.625rem;
			}
			@media (max-width: $tablet) {
				flex-direction: column;
			}
			@media (max-width:$mobile){
				 gap: 0; 
			}
			& .text {
				position: absolute;
				right: 0;
				bottom: 0.5625rem;
				max-width: 43.75rem;
			}
			@media (max-width: toEm(1687)) {
				& .text {
					position: static;
					max-width: initial;
				}
			}
		}

		&__title {
			line-height: 109%;
			color: #e93c3c;
		}

		&__text-big {
			font-weight: 700;
			line-height: 1.2;
			@media (min-width: $tablet) {
				@include adaptiveValue("font-size", 60, 30, 0, 1290, 992);
			}
			@media (max-width: $tablet) {
				@include adaptiveValue("font-size", 30, 20, 0, 992, 320);
			}
		}

		&__content {
			display: flex;
			column-gap: toRem(30);
			// @include adaptiveValue("gap", 30, 20, 0, 1290, 320);
			@media (max-width: $mobile) {
				flex-direction: column;
				@include adaptiveValue("row-gap", 40, 20, 0, 767.98, 320);
			}
		}

		&__col {
			display: flex;
			flex-direction: column;
			gap: 1.25rem;
			@media (max-width:$mobileSmall){
				 gap: 0.625rem; 
			}
			&_one {
				align-items: flex-end;
				@media (max-width: $mobile) {
					align-items: initial;
					order: 1;
					& .visual__img {
						order: 1;
					}
				}
			}

			&_two {
			}
		}

		&__img {
			border-radius: 1.25rem;
			// overflow: hidden;
			box-shadow: 0.25rem 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.15);
			@media (max-width: $mobile) {
				border-radius: 0.375rem;
			}
			@media (max-width: $mobileSmall) {
				border-radius: 0.375rem;
			}
		}
	}

	//========CONFIRM================================================================================================================================================

	.sirius {
		.confirm {
			&__container {
				position: relative;
				padding-top: 0%;
			}

			&__subtitle {
				font-weight: 700;
				margin-bottom: toRem(30);
				&:not(:last-child) {
					margin-bottom: toRem(40);
					@media (max-width: $mobile) {
						margin-bottom: 1.25rem;
					}
				}
				@include adaptiveValue("font-size", 60, 20, 0, 1290, 320);
			}

			&__img {
				display: flex;
				align-items: center;
				position: relative;
			}

			&__wrapper {
				&_1 {
					flex: 0 0 79.310345%; /* 230/290 */
					@media (min-width: $mobile) {
						flex: 0 0 81.007752%; /* 1045/1290 */
					}
				}

				&_2 {
					box-shadow: -0.25rem 0.25rem 0.625rem 0 rgba(25, 25, 25, 0.15);

					border-radius: 1.0625rem;
					position: relative;
					right: 2.8%;
					overflow: hidden;
					// translate: -15%;
					box-shadow: -0.25rem 0.25rem 0.625rem 0 rgba(25, 25, 25, 0.15);

					flex: 0 0 23.448276%; /* 68/290 */
					@media (min-width: $mobile) {
						flex: 0 0 22.713178%; /* 293/1290 */
					}
				}
			}
		}
	}

	//=====SEO===================================================================================================================================================

	.sirius {
		.seo {
			.title {
				@include adaptiveValue("margin-bottom", 68, 20, 0, 1290, 320);
			}
		}

		.seo__arrow {
			right: 1.25rem;
			width: initial;
			@media (max-width: $tablet) {
				width: 5.625rem;
			}
			@media (max-width: $mobile) {
				width: 3.75rem;
				top: 3.75rem;
				right: 0.3125rem;
			}
			@media (max-width: toEm(570)) {
				display: none;
			}
		}
	}

	//======OPTIONS==================================================================================================================================================
	.sirius {
		.page {
			&__options {
				background: #f2f2f2;
			}
		}
		.options {
			&__container {
				margin-top: inherit;
			}

			&__item {
			}

			&__galery {
				gap: 1.125rem;
				justify-content: space-between;
				align-items: center;
			}

			&__img {
				box-shadow: 0.25rem 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.15);
				border-radius: 1.25rem;
				&[class] {
					flex: 0 0 auto;
				}
				&_iphone {
					box-shadow: initial;
					border-radius: initial;
				}
			}
		}
	}

	//==========RESULT==============================================================================================================================================

	.sirius {
		.result {
			&__list {
				strong {
					color: inherit;
				}
			}
		}
	}

	//======PLANS==================================================================================================================================================

	.sirius {
		.actions__title,
		.actions__link {
			color: #e93c3c;
		}

		.actions__button {
			background: #e93c3c;
		}
	}
}
